// Nollställer styling i webbläsaren
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

// Typsnitt
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Variabler
$login-page-gradient: linear-gradient(-45deg, #3b0072, #198cd8, #4cc6db, #198cd8);
$submit-color: #3b0072;
$submit-hover: #198cd8;
$light-blue: lighten(#198cd8, 45);
$blue: #198cd8;
$visited-color: darken(#198cd8, 30);
$form-background-color: #eee;
$danger: #b43616;
$danger-hover: lighten(#b43616, 10);
$edit-color: darken(#4cc6db, 30);
$edit-hover: #4cc6db;

// Mixins
// Desktop
@mixin desktop {
    @media screen and (min-width: 900px){
        @content;
    }
}

// Surfplatta
@mixin tablet {
    @media screen and (max-width: 900px){
        @content;
    }
}

// Mindre än 700px
@mixin small-table {
    @media screen and (max-width: 700px){
        @content;
    }
}

// Mobiler
@mixin mobile {
    @media screen and (max-width: 500px){
        @content;
    }
}