
body {
    background: white;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: $submit-color;
    line-height: 1.5;
}

main {
    width: fit-content;
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem 2rem 1rem;

    @include mobile {
        padding: 0 0 1rem 0;
    }
}

.flex-container {
    display: flex;
}

// Rubriker
h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin: 0;
}

h2, h3, h4, h5 {
    font-weight: 300;
}

// Header
#h2-header {
    color: white;
    font-size: 2rem;
    text-align: center;
}

header {
    padding: 3rem;
}

// Logga in-sida
#login-body {
    // Animerar stor bakgrund med gradient som åker fram och tillbaka
    background: $login-page-gradient;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;

    @include mobile {
        animation: gradient 10s ease infinite; // Gör animation lite snabbare på mobiler

        header {
            padding: 1rem;
            h1 {
                font-size: 2.8rem;
            }
        }
    }
}

// Välkomsttext
#intro {
    max-width: 500px;
    background: white;
    padding: 3rem;
    border-radius: 60px;
    margin-right: 2rem;

    p {
        margin-top: 1rem;
    }

    @include mobile {
        padding: 2rem;
    }
}

// Main-element i index
#login-main {
    @include small-table {
        flex-direction: column;
        padding: 0 1rem 1rem 1rem;
        margin-top: 1rem;

        #intro {
            margin: 0;
            margin-bottom: 2rem;
        }
    }
}

// Logga in-formulär
#login-container {
    color: white;
    max-width: 400px;
    
    @include small-table{
        margin: auto;

        input {
            width: 100%;
        }
    }
}

// Formulär
label, input {
    display: block;
}

input {
    border-radius: 12px;
    border: none;
    padding: 0.5rem;
}

label {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

textarea {
    padding: 0.5rem;
    border: none;
    resize: unset;
    width: 100%;
}

// Checkrutor
.checkbox {
    label, input {
        width: fit-content;
        margin: 0.5rem;
    }

    input {
        margin-top: 0.8rem;
        margin-left: 0;
    }
}

// Knappar
.submit-btn {
    background: $submit-color;
    color: white;
    padding: 0.3rem;
    width: 100%;
    margin-top: 0.5rem;
    transition: 0.2s;

    @include desktop {
        &:hover {
            background: $submit-hover;
            cursor: pointer;

        }
    }
}

// -------- Admin-sida
#header-admin {
    background: $login-page-gradient;
    padding: 2rem;
    text-align: right;
    color: white;

    @include mobile {
        padding: 3.5rem 0 2rem 0;
    }

    h1 {
        font-size: 3rem;
        font-weight: 400;
        text-align: right;
    }

    @include mobile {
        text-align: center;

        h1 {
            text-align: center;
            font-size: 2.8rem;
        }
    }
}

// Navigation
nav {
    box-shadow: 0px 12px 10px 0px rgb(209, 209, 209);
    width: 100%;
    position: sticky;
    top: 0;
    background: white;
    z-index: 999;

    ul {
        list-style-type: none;
        margin-left: 0.5rem;
    
        li {
            a {
                padding: 0.5rem;
                display: flex;
                transition: 0.2s;
                text-decoration: none;
                color: $submit-color;

                @include desktop {
                    &:hover {
                        background: $form-background-color;
                    }
                }
            }
        }
    }

    // Logga ut-knapp i nav
    #logout-btn {
        position: absolute;
        right: 1rem;
        top: -3px;
        width: 80px;
        background: $submit-color;
        color: white;

        @include mobile {
            top: -185px; // Sätter knappen höst upp till höger
        }

        @include desktop {
            &:hover {
                background: $submit-hover;
            }
        }
    }
}

// Admin-main
.margin-left {
    margin-left: 1rem;
}

section {
    margin-bottom: 4rem;

    h2 {
        text-align: center;
        margin-bottom: 0.5rem;
        font-size: 2rem;
        letter-spacing: 2px;
    }

    h3 {
        background: $submit-hover;
        color: white;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        font-size: 1.7rem;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    h5 {
        font-size: 1.2rem;
    }

    // Länkar
    a {
        color: $blue;
        transition: 0.2s;

        &:visited {
            color: $visited-color;
        }

        @include desktop {
            &:hover {
                letter-spacing: 0.5px;
            }
        }
    }

    // Radera-knapp
    .delete {
        color: $danger;

        @include desktop {
            &:hover {
                color: $danger-hover;
            }
        }
    }

    // Redigera-ikon
    .fa-edit {
        color: $submit-color;

        @include desktop {
            &:hover {
                color: $submit-hover;
            }
        }
    }

    // Knappar i redigeringsformulär
    button {
        border: none;
        background: transparent;
        margin: 0 0.5rem;
        
        // Ikoner
        i {
            font-size: 1.2rem;
        }

        @include desktop {
            &:hover {
                cursor: pointer;
            }
        }
    }

    // Anställningar och webbsidor
    // Gör varannan blå. Jobb och webbsidor
    .job:nth-of-type(odd), .website:nth-of-type(odd) {
        background: $light-blue; 
    }

    .job, .website {
        padding: 1rem;
        position: relative;

        @include mobile {
            padding: 1rem 1rem 3rem 1rem;
        }

        p {
            margin: 1rem 0 1.5rem 0;
        }

        // Sätter rediga- och radera-knapp längst ned i högra hörnet
        .button-container-list {
            position: absolute;
            right: 0.5rem;
            bottom: 1rem;
        }
    }

    // Redigeringsformulär
    form {
        background: $form-background-color;
        border-left: solid 10px $submit-color;
        border-right: solid 10px $submit-color;
        min-width: 300px;

        @include small-table {
            border-left: unset;
            border-right: unset;
            border-top: solid 10px $submit-color;
        }

        @include mobile {
            .flex-container {
                flex-direction: column;
            }

            .checkbox {
                flex-direction: row;
            }

            .margin-left {
                margin: 0;
            }

            input {
                width: 100%;
            }
        }
    
        padding: 0 1rem 1rem 1rem;
        width: fit-content;
        margin: 2rem auto 0 auto;

        h3 {
            background: none;
            color: $submit-color;

            @include mobile {
                text-align: center;
            }
        }

        .button-container {
            margin-top: 1rem;
        }
        
        button {
            border-radius: 15px;
            border: none;
            margin: 0 0.2rem;
        }

        // Avbryt-knapp
        .abort-btn {
            // Ärver regler från submit-knappar
            @extend .submit-btn;
            background: $danger;

            @include desktop {
                &:hover {
                    background: $danger-hover;
                }
            }
        }
    }
}

// Lägg till-formulär på tablet/mobil
details {
    background: $form-background-color;
    padding: 1.5rem;
    height: 100%;

    form {
        margin-bottom: 2rem;

        input {
            width: 100%;
        }
    }

    h2 {
        margin: 0;
        display: inline-block;
    }

    h3 {
        border-bottom: solid 3px $submit-hover;
    }

    .details-content {
        max-width: 500px;
        margin: 1rem auto;
    }
}

// Tabell
table {
    // Ta bort vit linje mellan alla td
    overflow: auto;
    border-collapse: collapse;

    // Gör varannan rad mörkare
    tbody:nth-of-type(even){
        tr{
            background: $light-blue; 
        } 
    }

    th {
        text-align: left;
        font-weight: 400;
        padding: 0.5rem;
        width: 40%;
    }

    td {
        padding: 0.5rem;
        width: 40%;
    }

    .school-table {
        width: 20%;
    }

    .code-table {
        width: 10%;
    }

    .center {
        text-align: center;
        width: 10%;
    }
}

// Tabell på enheter mindre än 700px
@include small-table {
    table {
        width: 100%;

        .center {
            text-align: unset;
        }
    }

    th {
        display: none;
    }

    // Får tabell att sluta vara en tabell
    td {
        display: block;
        width: 100% !important;
    }

    .school-title, .code-title, .name-title, .start-title, .end-title {
        text-align: left;
    }

    // Ersätter titlarna med before
    .school-title::before {
        content: "Skola: ";
        font-weight: bold;
    }

    .code-title::before {
        content: "Kurskod: ";
        font-weight: bold;
    }

    .name-title::before {
        content: "Kursnamn: ";
        font-weight: bold;
    }

    .start-title::before {
        content: "Start år/månad: ";
        font-weight: bold;
    }

    .end-title::before {
        content: "Slut år/månad: ";
        font-weight: bold;
    }

    .buttons-right {
        text-align: right !important;
    }
}

// footer
footer {
    color: white;
    text-align: center;
    padding: 3rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    @include mobile{
        position: relative;
    }
}

#admin-footer {
    background: $submit-color;
    position: relative;
}

// Intruder-sida
#intruder-body {
    position: relative;
    height: 100vh;
}

#intruder{
    max-width: 500px;
    text-align: center;
    #intruder-h1 {
        color: $danger;
    }

    a {
        color: $blue;
        display: block;
        margin-top: 2rem;
    }
}

#intruder-footer {
    color: $submit-color;
}

// Media
@include tablet {
    #container {
        flex-direction: column;
    }
}

// Animering
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
