@charset "UTF-8";
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #3b0072;
  line-height: 1.5;
}

main {
  width: fit-content;
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem 2rem 1rem;
}
@media screen and (max-width: 500px) {
  main {
    padding: 0 0 1rem 0;
  }
}

.flex-container {
  display: flex;
}

h1, h2, h3, h4, h5 {
  font-family: "Oswald", sans-serif;
}

h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
  margin: 0;
}

h2, h3, h4, h5 {
  font-weight: 300;
}

#h2-header {
  color: white;
  font-size: 2rem;
  text-align: center;
}

header {
  padding: 3rem;
}

#login-body {
  background: linear-gradient(-45deg, #3b0072, #198cd8, #4cc6db, #198cd8);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
}
@media screen and (max-width: 500px) {
  #login-body {
    animation: gradient 10s ease infinite;
  }
  #login-body header {
    padding: 1rem;
  }
  #login-body header h1 {
    font-size: 2.8rem;
  }
}

#intro {
  max-width: 500px;
  background: white;
  padding: 3rem;
  border-radius: 60px;
  margin-right: 2rem;
}
#intro p {
  margin-top: 1rem;
}
@media screen and (max-width: 500px) {
  #intro {
    padding: 2rem;
  }
}

@media screen and (max-width: 700px) {
  #login-main {
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    margin-top: 1rem;
  }
  #login-main #intro {
    margin: 0;
    margin-bottom: 2rem;
  }
}

#login-container {
  color: white;
  max-width: 400px;
}
@media screen and (max-width: 700px) {
  #login-container {
    margin: auto;
  }
  #login-container input {
    width: 100%;
  }
}

label, input {
  display: block;
}

input {
  border-radius: 12px;
  border: none;
  padding: 0.5rem;
}

label {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

textarea {
  padding: 0.5rem;
  border: none;
  resize: unset;
  width: 100%;
}

.checkbox label, .checkbox input {
  width: fit-content;
  margin: 0.5rem;
}
.checkbox input {
  margin-top: 0.8rem;
  margin-left: 0;
}

.submit-btn, section form .abort-btn {
  background: #3b0072;
  color: white;
  padding: 0.3rem;
  width: 100%;
  margin-top: 0.5rem;
  transition: 0.2s;
}
@media screen and (min-width: 900px) {
  .submit-btn:hover, section form .abort-btn:hover {
    background: #198cd8;
    cursor: pointer;
  }
}

#header-admin {
  background: linear-gradient(-45deg, #3b0072, #198cd8, #4cc6db, #198cd8);
  padding: 2rem;
  text-align: right;
  color: white;
}
@media screen and (max-width: 500px) {
  #header-admin {
    padding: 3.5rem 0 2rem 0;
  }
}
#header-admin h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: right;
}
@media screen and (max-width: 500px) {
  #header-admin {
    text-align: center;
  }
  #header-admin h1 {
    text-align: center;
    font-size: 2.8rem;
  }
}

nav {
  box-shadow: 0px 12px 10px 0px #d1d1d1;
  width: 100%;
  position: sticky;
  top: 0;
  background: white;
  z-index: 999;
}
nav ul {
  list-style-type: none;
  margin-left: 0.5rem;
}
nav ul li a {
  padding: 0.5rem;
  display: flex;
  transition: 0.2s;
  text-decoration: none;
  color: #3b0072;
}
@media screen and (min-width: 900px) {
  nav ul li a:hover {
    background: #eee;
  }
}
nav #logout-btn {
  position: absolute;
  right: 1rem;
  top: -3px;
  width: 80px;
  background: #3b0072;
  color: white;
}
@media screen and (max-width: 500px) {
  nav #logout-btn {
    top: -185px;
  }
}
@media screen and (min-width: 900px) {
  nav #logout-btn:hover {
    background: #198cd8;
  }
}

.margin-left {
  margin-left: 1rem;
}

section {
  margin-bottom: 4rem;
}
section h2 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  letter-spacing: 2px;
}
section h3 {
  background: #198cd8;
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1.7rem;
}
section h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
section h5 {
  font-size: 1.2rem;
}
section a {
  color: #198cd8;
  transition: 0.2s;
}
section a:visited {
  color: #09334f;
}
@media screen and (min-width: 900px) {
  section a:hover {
    letter-spacing: 0.5px;
  }
}
section .delete {
  color: #b43616;
}
@media screen and (min-width: 900px) {
  section .delete:hover {
    color: #e1441c;
  }
}
section .fa-edit {
  color: #3b0072;
}
@media screen and (min-width: 900px) {
  section .fa-edit:hover {
    color: #198cd8;
  }
}
section button {
  border: none;
  background: transparent;
  margin: 0 0.5rem;
}
section button i {
  font-size: 1.2rem;
}
@media screen and (min-width: 900px) {
  section button:hover {
    cursor: pointer;
  }
}
section .job:nth-of-type(odd), section .website:nth-of-type(odd) {
  background: #dceefb;
}
section .job, section .website {
  padding: 1rem;
  position: relative;
}
@media screen and (max-width: 500px) {
  section .job, section .website {
    padding: 1rem 1rem 3rem 1rem;
  }
}
section .job p, section .website p {
  margin: 1rem 0 1.5rem 0;
}
section .job .button-container-list, section .website .button-container-list {
  position: absolute;
  right: 0.5rem;
  bottom: 1rem;
}
section form {
  background: #eee;
  border-left: solid 10px #3b0072;
  border-right: solid 10px #3b0072;
  min-width: 300px;
  padding: 0 1rem 1rem 1rem;
  width: fit-content;
  margin: 2rem auto 0 auto;
}
@media screen and (max-width: 700px) {
  section form {
    border-left: unset;
    border-right: unset;
    border-top: solid 10px #3b0072;
  }
}
@media screen and (max-width: 500px) {
  section form .flex-container {
    flex-direction: column;
  }
  section form .checkbox {
    flex-direction: row;
  }
  section form .margin-left {
    margin: 0;
  }
  section form input {
    width: 100%;
  }
}
section form h3 {
  background: none;
  color: #3b0072;
}
@media screen and (max-width: 500px) {
  section form h3 {
    text-align: center;
  }
}
section form .button-container {
  margin-top: 1rem;
}
section form button {
  border-radius: 15px;
  border: none;
  margin: 0 0.2rem;
}
section form .abort-btn {
  background: #b43616;
}
@media screen and (min-width: 900px) {
  section form .abort-btn:hover {
    background: #e1441c;
  }
}

details {
  background: #eee;
  padding: 1.5rem;
  height: 100%;
}
details form {
  margin-bottom: 2rem;
}
details form input {
  width: 100%;
}
details h2 {
  margin: 0;
  display: inline-block;
}
details h3 {
  border-bottom: solid 3px #198cd8;
}
details .details-content {
  max-width: 500px;
  margin: 1rem auto;
}

table {
  overflow: auto;
  border-collapse: collapse;
}
table tbody:nth-of-type(even) tr {
  background: #dceefb;
}
table th {
  text-align: left;
  font-weight: 400;
  padding: 0.5rem;
  width: 40%;
}
table td {
  padding: 0.5rem;
  width: 40%;
}
table .school-table {
  width: 20%;
}
table .code-table {
  width: 10%;
}
table .center {
  text-align: center;
  width: 10%;
}

@media screen and (max-width: 700px) {
  table {
    width: 100%;
  }
  table .center {
    text-align: unset;
  }

  th {
    display: none;
  }

  td {
    display: block;
    width: 100% !important;
  }

  .school-title, .code-title, .name-title, .start-title, .end-title {
    text-align: left;
  }

  .school-title::before {
    content: "Skola: ";
    font-weight: bold;
  }

  .code-title::before {
    content: "Kurskod: ";
    font-weight: bold;
  }

  .name-title::before {
    content: "Kursnamn: ";
    font-weight: bold;
  }

  .start-title::before {
    content: "Start år/månad: ";
    font-weight: bold;
  }

  .end-title::before {
    content: "Slut år/månad: ";
    font-weight: bold;
  }

  .buttons-right {
    text-align: right !important;
  }
}
footer {
  color: white;
  text-align: center;
  padding: 3rem;
}
@media screen and (max-width: 500px) {
  footer {
    position: relative;
  }
}

#admin-footer {
  background: #3b0072;
  position: relative;
}

#intruder-body {
  position: relative;
  height: 100vh;
}

#intruder {
  max-width: 500px;
  text-align: center;
}
#intruder #intruder-h1 {
  color: #b43616;
}
#intruder a {
  color: #198cd8;
  display: block;
  margin-top: 2rem;
}

#intruder-footer {
  color: #3b0072;
}

@media screen and (max-width: 900px) {
  #container {
    flex-direction: column;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*# sourceMappingURL=main.css.map */
